DEBUG=true
AUTH_SERVICE_ALLOWED_ORIGINS=http://localhost:5173
AUTH_SERVICE_HMAC_SECRET=
AUTH_SERVICE_GOOGLE_AUTH_ENABLED=
AUTH_SERVICE_GOOGLE_AUTH_REDIRECT_URL=
AUTH_SERVICE_GOOGLE_AUTH_CLIENT_ID=
AUTH_SERVICE_GOOGLE_AUTH_CLIENT_SECRET=
AUTH_SERVICE_GOOGLE_AUTH_RESULT_PAGE_URL=
